.avatar {
  width: 110px;
}
.avatar-wrapper {
  width: 110px;
  margin: 0 auto;
}

.highlighted {
  cursor: unset;
}
main:nth-last-child(3) {
  margin-bottom: 0;
}
li.details {
  cursor: unset;
}
.tags.small {
  text-transform: uppercase;
}
.main {
  position: relative;
}
.avatar-wrapper {
  position: relative;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.avatar-wrapper:hover .sunglesses {
  transform: rotate(0deg) translate3d(0%, 0%, 0);
  transform-origin: bottom right;
}
.sunglesses {
  transform: rotate(90deg) translate3d(50%, 150%, 0);
  transition: all 0.4s ease-in-out;
  position: absolute;
  width: 60px;
  top: 18%;
  left: 24%;
}

.dark-mode {
  transition: all 0.3s;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
}
.dark-mode.on {
  opacity: 100%;
  z-index: 10;
}
.btn {
  z-index: 12;
  position: relative;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

.btn.light {
  position: fixed;
  bottom: 200px;
  text-transform: uppercase;
  padding: 5px 10px;
  color: black;
  background: white;
  text-decoration: none;
}
.lang p a,
.lang p span {
  margin-right: 10px;
}

.flag {
  height: 10px;
}

@media only screen and (min-width: 1200px) {
  main article {
    margin-top: 200px;
    margin-bottom: 200px;
  }
}
